.filters-container {
     display: flex;
     justify-content: center;
     margin-bottom: 20px;
     width: 100%;
}

.filters-form {
     display: flex;
     flex-direction: row;
     gap: var(--formGap);
     max-width: 446px;
     width: 100%;
}




@media screen and (max-width: 913px) {
     .filters-form {
          display: grid;
          gap: var(--formGap);
          grid-template-columns: 150px 150px;
     }

     .filter-input {
          width: 100%;
          font-size: small;
     }
     .post-anime-form__field {
          width: auto;
     }

     section {
          padding-top: 50px !important;
     }
}

@media (min-width: 914px) and (max-width: 1276px){
     .filters-form {
          display: grid;
          gap: var(--formGap);
          grid-template-columns: 1fr 1fr;
          max-width: none;
          width: 60%;
     }
     .filter-input {
          width: 100%;
     }
}



