#login {
     align-items: center;
     display: flex;
     flex-direction: column;
     gap: var(--gap-M);
     justify-content: center;
     width: 32%;
}

#login input {
     border-radius: var(--border-radius-l);
     border: none;
     padding: var(--padding-m);
}

form {
     align-items: center;
     display: flex;
     flex-direction: column;
     gap: var(--gap-M);
     justify-content: center;
}

#error {
     color: red;
}

.error {
     color: red;
}

form>button {
     border-radius: var(--border-radius-m);
     border: none;
     cursor: pointer;
     padding: var(--padding-m);
}

.switch {
     color: inherit;
}

.pointer-text {
     color: #007BFF;
     cursor: pointer;
     text-decoration: none;
}

.pointer-text:hover {
     text-decoration: underline;
}

#message {
     color: red;
}

#message.success {
     color: #0ad1c8;
}


@media screen and (max-width: 912px) {
     #login {
          width: 100%;
     }

     .pointer-text {
          font-weight: bolder;
          background-color: aquamarine;
          border-radius: 8px;
          padding: 5px;
     }
};

