#login {
     align-items: center;
     display: flex;
     flex-direction: column;
     gap: var(--gap-M);
     justify-content: center;
     width: 32%;
}

#login input {
     border-radius: var(--border-radius-l);
     border: none;
     padding: var(--padding-m);
}

form {
     align-items: center;
     display: flex;
     flex-direction: column;
     gap: var(--gap-M);
     justify-content: center;
}

#error {
     color: red;
}

.error {
     color: red;
}

form>button {
     border-radius: var(--border-radius-m);
     border: none;
     cursor: pointer;
     padding: var(--padding-m);
}

.switch {
     color: inherit;
}

.pointer-text {
     color: #007bff;
     cursor: pointer;
     text-decoration: none;
}

.pointer-text:hover {
     text-decoration: underline;
}

#message {
     color: red;
}

#message.success {
     color: #0ad1c8;
}

#messageModal {
     display: none;
     position: fixed;
     z-index: 1;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgb(0, 0, 0);
     background-color: rgba(0, 0, 0, 0.4);
     padding-top: 60px;
}

#closeLogin {
     color: #aaa;
     font-size: 28px;
     font-weight: bold;
     float: none;
     position: absolute;
     right: 20px;
}

#modal-content-login {
     position: relative;
     display: flex;
     justify-content: space-around;
     align-items: center;
}

#modalMessage {
     font-size: small;
}

@media screen and (max-width: 912px) {
     #login {
          width: 100%;
     }

     .pointer-text {
          font-weight: bolder;
          background-color: aquamarine;
          border-radius: 8px;
          padding: 5px;
     }
}